<div class="aw-footer-wrap">
	<div class="aw-footer aw-wecenter">
		<div class="row">
			<div class="span3 aw-powerby">        
                            <a href="<?php echo G_COOKIE_DOMAIN; ?>/pub/static/about.html">关于我们</a>&nbsp; &nbsp; &nbsp; &nbsp; 
                            <a href="<?php echo G_COOKIE_DOMAIN; ?>/pub/static/mobile.html">移动端</a>
                        </div>
			<div class="span9 aw-copyright">Copyright © <?php echo date('Y'); ?> - <?php echo get_setting('site_name'); ?><?php if(get_setting('icp_beian')){ ?><span class="hidden-xs"> - <a href="http://www.miibeian.gov.cn/" target="_blank"><?php echo get_setting('icp_beian'); ?></a><?php } ?></span> &nbsp; <a href="<?php echo get_js_url('/feed/'); ?>" target="blank"><i class="fa fa-rss-square"></i> RSS Feed</a></div>
		</div>
		<?php if (is_mobile()) { ?>
			<div class="container">
				<div class="row">
					<p align="center"><?php _e('版本切换'); ?>: <b><?php _e('PC 版'); ?></b> | <a href="m/ignore_ua_check-FALSE"><?php _e('手机版'); ?></a></p>
				</div>
			</div>
		<?php } ?>
	</div>
</div>



<a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"><i class="fa fa-arrow-up"></i></a>

<?php echo get_setting('statistic_code'); ?>

<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box"></div>

<div style="display:none;" id="__crond">
	<script type="text/javascript">
		$(document).ready(function () {
			$('#__crond').html(unescape('%3Cimg%20src%3D%22' + G_BASE_URL + '/crond/run/<?php echo time(); ?>%22%20width%3D%221%22%20height%3D%221%22%20/%3E'));
		});

	</script>
</div>

<?php TPL::output('global/debuger.tpl.htm'); ?>

<script type="text/javascript" id="bdshare_js" data="type=tools" ></script>
<!-- / DO NOT REMOVE -->

</body>
</html>